.logo img {
  width: 50px;
}

.logo img:hover {
  transform: scale(1.2);
  transition: all 0.3s ease 0.1s;
}

.headerContent a {
  float: left;
}

.headerTitle {
  text-align: center;
  margin-right: 3em;
}

.menuBar ul {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  color: #453aa4;
  list-style: none;
}

.menuBar a {
  text-decoration: none;
}

#json {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  grid-gap: 30px;
  margin: 20px;
}
