* {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

.logo img {
  width: 50px;
}

.logo img:hover {
  transform: scale(1.2);
  transition: all 0.3s ease 0.1s;
}

.headerContent a {
  float: left;
}

.headerTitle {
  text-align: center;
  margin-right: 3em;
}

.menuBar {
  border-top: solid 1px white;
  background-color: #0b0930;
  padding: 7px;
}

.menuBar ul {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  list-style: none;
}

.menuBar a {
  text-decoration: none;
  color: white;
}

.menuBar a:hover {
  color: red;
  transform: scale(1.1);
  transition: all 0.3s ease 0.1s;
}

.footerContent {
  display: flex;
}

.footerContent .box {
  flex-basis: 50%;
  padding: 10px 20px;
}

.box .content {
  margin: 20px 0 0 0;
  position: relative;
}

.box .content:before {
  position: absolute;
  content: "";
  top: -10px;
  height: 2px;
  width: 100%;
  background-color: #1a1a64;
}

.box .content:after {
  position: absolute;
  content: "";
  height: 2px;
  width: 15%;
  background-color: #2c2a89;
  top: -10px;
}

#json {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  grid-gap: 30px;
  margin: 20px;
}

/* Main informstion i Index.html  TEST 

.mcuMain h1 {
  text-align: center;
  margin-bottom: 10px;
  font-size: 3em;
}

.mainContent {
  display: flex;
  justify-content: space-evenly;
  gap: 1em;
}

.mainContent {
  margin-left: 9.5vw;
  margin-right: 9.5vw;
} */
