.logo img {
  width: 50px;
}

.logo a:hover {
  transform: scale(1.1);
  transition: all 0.3s ease 0s;
}

.headerContent a {
  float: left;
}

.headerTitle {
  text-align: center;
  margin-right: 3em;
}

#json {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  grid-gap: 30px;
  margin: 20px;
}
