/*------------- @MEDIA ------------- @MEDIA -------------*/
@media screen and (max-width: 1024px) {
  footer {
    position: relative;
    bottom: 0; /*  Footern placerans längst ner i sidan  */
  }

  /*------------------  Index.html: innehållet i section 2  ------------------*/

  table {
    margin: 20px;
    width: 90%;
    text-align: center;
  }

  .tables {
    margin: 20px;
    text-align: center;
  }

  /*------------------ Index.html: innehållet i section 3  ------------------*/

  .mainContent3 {
    display: flex;
    flex-wrap: wrap;
    margin: 15px;
    text-align: center;
  }

  .mainContent3InnerText {
    margin: 5px;
    text-align: left;
  }

  .mainContent3InnerImg img {
    width: 600px;
    margin: 10px;
  }

  .mainContent3InnerText h1 {
    text-align: center;
  }

  /*------------------  Movies.html: Main Section3  ------------------*/

  .movieSection3 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 10px;
    row-gap: 1em;
  }

  .movieImg img {
    width: 175px;
    height: auto;
  }
}

/*------------- @MEDIA ------------- @MEDIA -------------*/
@media screen and (max-width: 900px) {
  #json {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
  }

  footer {
    position: relative;
    bottom: 0; /*  Footern placerans längst ner i sidan  */
  }

  /*------------------  All innehåll i footern  ------------------*/

  .footerContent {
    flex-wrap: wrap;
    flex-direction: column; /* Footern flexar i en kolumn 1 2 3 */
  }

  .footerContent .box {
    margin: 5px 0;
  }

  /*------------------  Index.html: innehållet i section 1  ------------------*/

  .mainContent1 {
    display: flex;
    flex-wrap: wrap;
    margin: 15px;
    text-align: center;
  }

  .mainContent1InnerText {
    margin: 5px;
    text-align: left;
  }

  .mainContent1InnerImg img {
    width: 600px;
  }

  /*------------------  Index.html: innehållet i section 2  ------------------*/

  table {
    margin: 20px;
    border-collapse: collapse;
    width: 95vw;
    text-align: center;
  }

  .tables {
    display: flex;
    flex-wrap: wrap;
  }

  /*------------------ Index.html: innehållet i section 3  ------------------*/

  .mainContent3 {
    display: flex;
    flex-wrap: wrap;
    margin: 15px;
    text-align: center;
  }

  .mainContent3InnerText {
    margin: 5px;
    text-align: left;
  }

  .mainContent3InnerImg img {
    width: 600px;
    margin: 10px;
  }

  .mainContent3InnerText h1 {
    text-align: center;
  }

  /*------------------  Movies.html: Main Section3  ------------------*/

  .movieSection3 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 10px;
    row-gap: 1em;
  }

  .movieImg img {
    width: 175px;
    height: auto;
  }
}

/*------------- @MEDIA ------------- @MEDIA -------------*/
@media screen and (max-width: 426px) {
  /*------------------  Texten i main section ------------------*/
  .mainHeroImgText h1 {
    font-size: 25px;
  }

  /*------------------  WORK IN PROGRESS  ------------------*/
  .WorkInProgressText h1 {
    font-size: 30px;
  }

  /*------------------  Index.html: innehållet i section 1  ------------------*/

  .mainContent1 {
    display: flex;
    flex-wrap: wrap;
    margin: 15px;
  }

  .mainContent1InnerText {
    margin: 5px;
  }

  .mainContent1InnerImg img {
    width: 395px;
  }

  /*------------------  Index.html: innehållet i section 2  ------------------*/

  table {
    width: 90%;
  }

  .tables {
    display: flex;
    flex-wrap: wrap;
  }

  /*------------------  Index.html: innehållet i section 3  ------------------*/

  .mainContent3 {
    display: flex;
    flex-wrap: wrap;
    margin: 15px;
  }

  .mainContent3InnerText {
    margin: 5px;
  }

  .mainContent3InnerImg img {
    width: 395px;
    margin: 10px;
  }

  .mainContent3InnerText h1 {
    text-align: center;
  }

  /*------------------  Movies.html: Innehållet i section1 heroimg  ------------------*/

  .heroImgSliderText h1 {
    font-size: 50px;
  }

  /*------------------  Movies.html: Main Section3  ------------------*/

  .movieSection3 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 10px;
    row-gap: 1em;
  }

  .movieImg img {
    width: 188px;
    height: auto;
  }
}

/*------------- @MEDIA ------------- @MEDIA -------------*/
@media screen and (max-width: 376px) {
  /*------------------  Texten i main section ------------------*/
  .mainHeroImgText h1 {
    font-size: 35px;
  }

  /*------------------  WORK IN PROGRESS  ------------------*/
  .WorkInProgressText h1 {
    font-size: 35px;
  }

  /*------------------  Index.html: innehållet i section 1  ------------------*/

  .mainContent1 {
    display: flex;
    flex-wrap: wrap;
    margin: 15px;
  }

  .mainContent1InnerText {
    margin: 5px;
  }

  .mainContent1InnerImg img {
    width: 345px;
  }

  /*------------------   Index.html: innehållet i section 2 ------------------  */

  table {
    width: 90%;
  }

  .tables {
    display: flex;
    flex-wrap: wrap;
  }

  /*------------------  Index.html: innehållet i section 3  ------------------*/

  .mainContent3 {
    display: flex;
    flex-wrap: wrap;
    margin: 15px;
  }

  .mainContent3InnerText {
    margin: 5px;
  }

  .mainContent3InnerImg img {
    width: 345px;
    margin: 10px;
  }

  .mainContent3InnerText h1 {
    text-align: center;
  }

  /*------------------  Movies.html: Innehållet i section1 heroimgq ------------------  */

  .heroImgSliderText h1 {
    font-size: 40px;
  }

  /*------------------  Movies.html: Main Section3  ------------------*/

  .movieSection3 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 10px;
    row-gap: 1em;
  }

  .movieImg img {
    width: 163px;
    height: auto;
  }
}

/*------------- @MEDIA ------------- @MEDIA -------------*/
@media screen and (max-width: 321px) {
  /*------------------  Texten i main section ------------------*/
  .mainHeroImgText h1 {
    font-size: 33px;
  }

  /*------------------  WORK IN PROGRESS  ------------------*/
  .WorkInProgressText h1 {
    font-size: 33px;
  }

  /*------------------  Index.html: innehållet i section 1  ------------------*/

  .mainContent1 {
    display: flex;
    flex-wrap: wrap;
    margin: 15px;
  }

  .mainContent1InnerImg img {
    width: 285px;
  }

  /*------------------  Index.html: innehållet i section 2 ------------------ */

  table {
    width: 90%;
  }

  .tables {
    display: flex;
    flex-wrap: wrap;
  }

  .tables th {
    font-size: 14px;
  }

  .tables td {
    font-size: 14px;
  }

  /*------------------  Index.html: innehållet i section 3  ------------------*/

  .mainContent3 {
    display: flex;
    flex-wrap: wrap;
    margin: 15px;
  }

  .mainContent3InnerImg img {
    width: 285px;
    margin: 10px;
  }

  .mainContent3InnerText h1 {
    text-align: center;
  }

  /*------------------  Movies.html: Innehållet i section1 heroimg ------------------*/

  .heroImgSliderText h1 {
    font-size: 35px;
  }

  /*------------------  Movies.html: Main Section3  ------------------*/

  .movieSection3 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 10px;
    row-gap: 1em;
  }

  .movieImg img {
    width: 135px;
    height: auto;
  }
}
