@media screen and (max-width: 900px) {
  #json {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
  }

  footer {
    position: relative;
    bottom: 0; /*  Footern placerans längst ner i sidan  */
  }

  /*  All innehåll i footern  */

  .footerContent {
    flex-wrap: wrap;
    flex-direction: column; /* Footern flexar i en kolumn 1 2 3 */
  }

  .footerContent .box {
    margin: 5px 0;
  }
}

@media screen and (max-width: 450px) {
}

@media screen and (max-width: 360px) {
}

@media screen and (max-width: 280px) {
  /*  Innehållet i headerns */
  .headerContent h1 {
    font-size: 1em;
  }

  /*  logan i headern */
  .logo {
    margin-top: -3px;
  }

  /*  Navigationen i menyn  */
  .menuBar {
    font-size: 90%;
  }
}
