@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

header {
  overflow: hidden;
  background-color: #0b0930;
  color: white;
  padding: 20px 10px;
  align-items: center;
}

ul,
a {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  text-decoration: none;
  color: #453aa4;
  list-style: none;
}

footer {
  bottom: 0;
  height: 100%;
  background-color: #0b0930;
  color: white;
}

footer a {
  color: white;
}

/*  0b0930
1a1a64
2c2a89
453aa4
5c49c6
7b6fde 
*/
