* {
    padding: 0;
    margin: 0;
}

header {
    padding: 20px;
    text-align: center;
    background-color: red;
    color: white;
}

nav {
    list-style: none;
}

nav li{
    display: inline-block; /* Placerar ul bredvid varandra */
 
}

@media screen and (max-width: 900px) {
    #json { 
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
    }
}