* {
    padding: 0;
    margin: 0;
}

header {
    padding: 20px;
    background-color: red;
    color: white;
    text-align: center;
}

#json {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto ;
    grid-gap: 30px;
    margin: 20px;    
}

#characterPhoto {
    background-color: blue;
}

@media screen and (max-width: 900px) {
    #json { 
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
    }
}